<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <title>Home</title>
</head>
<body>
<div layout:fragment="content">
  <div class="text-center">
    <h1 class="display-4">Welcome to SoccerNow</h1>
    <p class="lead text-muted">Manage your players, teams, games and championships with ease.</p>

    <a class="btn btn-primary mt-3" href="/login">Login</a>

    <hr>
    <p>Developers:
      <ul class="list-unstyled">
        <li>• Martim Neto - 562769</li>
        <li>• Francisco Cravalho - 52838</li>
      </ul>
    </p>
  </div>
</div>
</body>
</html>
